<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
    <client>
      <endpoint address="http://localhost:8000/UnstuckMEService" binding="basicHttpBinding"
          bindingConfiguration="" contract="UnstuckMEInterfaces.IUnstuckMEService"
          name="UnstuckMEClient" kind="" endpointConfiguration="" />
    </client>
  </system.serviceModel>
</configuration>