<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="SchoolName" value="" />
    <add key="UnstuckMEUsername" value="" />
    <add key="UnstuckMEPassword" value="" />
    <add key="DatabaseName" value="" />
    <add key="UnstuckMEServerIP" value="" />
    <add key="EmailSettingsSet" value="false" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="UnstuckME_SchoolsEntities" connectionString="metadata=res://*/UnstuckMESchools_DB.csdl|res://*/UnstuckMESchools_DB.ssdl|res://*/UnstuckMESchools_DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=aura.students.cset.oit.edu;initial catalog=UnstuckME_Schools;persist security info=True;user id=UnstuckME_Student_Admin;password=B1gGn@rlyP@$$W0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="UnstuckME_DBEntities" connectionString="metadata=res://*/UnstuckMEServer_DB.csdl|res://*/UnstuckMEServer_DB.ssdl|res://*/UnstuckMEServer_DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=aura.students.cset.oit.edu;initial catalog=UnstuckME_DB;persist security info=True;user id=UnstuckME_Admin;password=B3$$t-P@$$W0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://localhost:9000/UnstuckMEService" binding="netTcpBinding" bindingConfiguration="NormalTCPBinding" contract="UnstuckMEInterfaces.IUnstuckMEServer" name="UnstuckMEServerEndPoint" kind="" endpointConfiguration="" />
      <endpoint address="net.tcp://localhost:9000/UnstuckMEFileStream" binding="netTcpBinding" bindingConfiguration="UploadLargeFilesBinding" contract="UnstuckMEInterfaces.IUnstuckMEFileStream" name="UnstuckMEStreamingEndPoint" kind="" endpointConfiguration="" />
    </client>
    <bindings>
      <netTcpBinding>
        <binding name="NormalTCPBinding" maxBufferSize="65536" maxReceivedMessageSize="65536">
          <security mode="None" />
        </binding>
        <binding name="UploadLargeFilesBinding" maxBufferSize="65536" maxReceivedMessageSize="26214400" transferMode="Streamed">
          <security mode="None" />
          <readerQuotas maxArrayLength="26214400" maxStringContentLength="26214400" />
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>