<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="UnstuckME_SchoolsEntities" connectionString="metadata=res://*/UnstuckMESchool_DB.csdl|res://*/UnstuckMESchool_DB.ssdl|res://*/UnstuckMESchool_DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=aura.students.cset.oit.edu;initial catalog=UnstuckME_Schools;persist security info=True;user id=UnstuckME_Student_Admin;password=B1gGn@rlyP@$$W0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="UnstuckMEServer_DBEntities" connectionString="metadata=res://*/UnstuckMEServer_DB.csdl|res://*/UnstuckMEServer_DB.ssdl|res://*/UnstuckMEServer_DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=aura.students.cset.oit.edu;initial catalog=UnstuckME_DB;persist security info=True;user id=UnstuckME_Admin;password=B3$$t-P@$$W0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://localhost:9000/UnstuckMEService" binding="netTcpBinding" bindingConfiguration="IncreaseMaxBuffer_and_MessageSize" contract="UnstuckMEInterfaces.IUnstuckMEServer" name="UnstuckMEServerEndPoint" kind="" endpointConfiguration="" />
    </client>
    <bindings>
      <netTcpBinding>
        <binding name="IncreaseMaxBuffer_and_MessageSize" maxBufferSize="65536" maxReceivedMessageSize="65536" >
        </binding>
        <!--if we increase these values past 524288, we have to readjust the MaxBufferPoolSize property, as this is it's default value-->
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>