<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="UnstuckME_DBEntities"
         connectionString="metadata=res://*/UnstuckME_DBEntities.csdl|res://*/UnstuckME_DBEntities.ssdl|res://*/UnstuckME_DBEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=aura.students.cset.oit.edu;initial catalog=UnstuckME_DB;persist security info=True;user id=UnstuckME_Admin;password=B3$$t-P@$$W0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;"
         providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>

  <system.serviceModel>
    <services>
      <service name="UnstuckMEInterfaces.UnstuckMEService">
        <endpoint address="net.tcp://localhost:9000/UnstuckMEService" binding="netTcpBinding" bindingConfiguration="" name="UnstuckMEServiceEndPoint" contract="UnstuckMEInterfaces.IUnstuckMEService" />
        
        <endpoint address="net.tcp://localhost:9000/UnstuckMEService" binding="netTcpBinding" bindingConfiguration="" name="UnstuckMEServerEndPoint" contract="UnstuckMEInterfaces.IUnstuckMEServer" />
      </service>
    </services>
  </system.serviceModel>
</configuration>


<!-- WROKIUNG SERVER XML 
<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="UnstuckME_DBEntities" 
         connectionString="metadata=res://*/UnstuckME_DB.csdl|res://*/UnstuckME_DB.ssdl|res://*/UnstuckME_DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=aura.students.cset.oit.edu;initial catalog=UnstuckME_DB;persist security info=True;user id=UnstuckME_Admin;password=B3$$t-P@$$W0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" 
         providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>

  <system.serviceModel>
    <services>
      <service name="UnstuckMEInterfaces.UnstuckMEService">
        <endpoint address="net.tcp://192.168.0.16:9000/UnstuckMEService"
                  binding="netTcpBinding" 
                  bindingConfiguration="TcpBindingConfiguration"
                  name="UnstuckMEServiceEndPoint"
                  contract="UnstuckMEInterfaces.IUnstuckMEService" />
      </service>
    </services>
       <bindings>
        <netTcpBinding>
          <binding name = "TcpBindingConfiguration" sendTimeout="00:00:05" portSharingEnabled="true">
            <security mode ="None"/>
         </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>
-->