<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.net>
    <mailSettings>
      <smtp deliveryFormat="SevenBit" deliveryMethod="Network">
        <network enableSsl="true" userName="2016JPteam8@gmail.com" password="2016JPTeam8" host="smtp.gmail.com" port="587" />
        <specifiedPickupDirectory pickupDirectoryLocation="" />
      </smtp>
    </mailSettings>
  </system.net>
  <connectionStrings>
    <add name="UnstuckME_DBEntities" connectionString="metadata=res://*/UnstuckME_DB.csdl|res://*/UnstuckME_DB.ssdl|res://*/UnstuckME_DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=aura.students.cset.oit.edu;initial catalog=UnstuckME_DB;persist security info=True;user id=UnstuckME_Admin;password=B3$$t-P@$$W0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <services>
      <service name="UnstuckMEInterfaces.UnstuckMEService">
        <clear />
        <endpoint address="net.tcp://localhost:9000/UnstuckMEService" binding="netTcpBinding" bindingConfiguration="IncreaseMaxBuffer_and_MessageSize" name="UnstuckMEServiceEndPoint" contract="UnstuckMEInterfaces.IUnstuckMEService" />
        <endpoint address="net.tcp://localhost:9000/UnstuckMEService" binding="netTcpBinding" bindingConfiguration="IncreaseMaxBuffer_and_MessageSize" name="UnstuckMEServerEndPoint" contract="UnstuckMEInterfaces.IUnstuckMEServer" />
        <endpoint address="net.tcp://localhost:9000/UnstuckMEFileStream" binding="netTcpBinding" bindingConfiguration="UploadLargeFilesBinding" name="UnstuckMEStreamingEndPoint" contract="UnstuckMEInterfaces.IUnstuckMEFileStream" />
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <!--<binding name = "TcpBindingConfiguration" sendTimeout="00:00:05" portSharingEnabled="true" maxBufferSize="65536" maxReceivedMessageSize="65536">\-->
        <binding name="IncreaseMaxBuffer_and_MessageSize" maxBufferSize="65536" maxReceivedMessageSize="65536">
          <security mode="None" />
        </binding>
        <binding name="UploadLargeFilesBinding" maxBufferSize="65536" maxReceivedMessageSize="26214400" transferMode="Streamed">
          <security mode="None" />
          <readerQuotas maxArrayLength="26214400" maxStringContentLength="26214400"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="asyncStreamingBehavior">
          <dispatcherSynchronization asynchronousSendEnabled="true"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="traceListener"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData= "C:\Users\colem_000\Documents\OIT\CST 316-26-36 - Junior Project\UnstuckME\UnstuckMECore\UnstuckME\UnstuckMEServer\Traces.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>
<!--Streaming endpoint
<endpoint address="net.tcp://localhost:9000/UnstuckMEService"
          binding="netTcpBinding"
          bindingConfiguration="UploadLargeFilesBinding"
          name="UnstuckMEFileStreamEndpoint"
          contract="UnstuckMEInterfaces.IUnstuckMEFileStream"/>-->
<!--<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings><add name="UnstuckME_DBEntities" connectionString="metadata=res://*/UnstuckME_DB.csdl|res://*/UnstuckME_DB.ssdl|res://*/UnstuckME_DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=aura.students.cset.oit.edu;initial catalog=UnstuckME_DB;persist security info=True;user id=UnstuckME_Admin;password=B3$$t-P@$$W0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <system.serviceModel>
    <services>
      <service name="UnstuckMEInterfaces.UnstuckMEService">
        <endpoint address="net.tcp://localhost:9000/UnstuckMEService" binding="netTcpBinding" bindingConfiguration="IncreaseMaxBuffer_and_MessageSize" name="UnstuckMEServiceEndPoint" contract="UnstuckMEInterfaces.IUnstuckMEService" />
        <endpoint address="net.tcp://localhost:9000/UnstuckMEService" binding="netTcpBinding" bindingConfiguration="IncreaseMaxBuffer_and_MessageSize" name="UnstuckMEServerEndPoint" contract="UnstuckMEInterfaces.IUnstuckMEServer" />
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="IncreaseMaxBuffer_and_MessageSize" maxBufferSize="65536" maxReceivedMessageSize="65536" />
        
-->
<!--if we increase these values past 524288, we have to readjust the MaxBufferPoolSize property, as this is it's default value-->
<!--

      </netTcpBinding>
    </bindings>
  </system.serviceModel>
  
<system.diagnostics>    
-->
<!--Activates WCF tracing for more precise exception tracking-->
<!--

    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="traceListener"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData= "C:\Users\colem_000\Documents\OIT\CST 316-26-36 - Junior Project\UnstuckME\UnstuckMECore\UnstuckME\UnstuckMEServer\Traces.svclog" />
                  
-->
<!--change InitializeData string to location of this project on your individual computer-->
<!--

        </listeners>
      </source>
    </sources>
  </system.diagnostics>

</configuration>-->