<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="SchoolName" value="Oregon Institute of Technology" />
    <add key="RememberMe" value="false" />
    <add key="Username" value="" />
    <add key="Password" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
   </entityFramework>
   <connectionStrings>
    <add name="UnstuckME_SchoolsEntities" connectionString="metadata=res://*/UnstuckME_Schools.csdl|res://*/UnstuckME_Schools.ssdl|res://*/UnstuckME_Schools.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=aura.students.cset.oit.edu;initial catalog=UnstuckME_Schools;persist security info=True;user id=UnstuckME_Student_Admin;password=B1gGn@rlyP@$$W0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://localhost:9000/UnstuckMEService" binding="netTcpBinding" bindingConfiguration="NormalTCPBinding" contract="UnstuckMEInterfaces.IUnstuckMEService" name="UnstuckMEServiceEndPoint" kind="" endpointConfiguration="" />
      <endpoint address="net.tcp://localhost:9000/UnstuckMEFileStream" binding="netTcpBinding" bindingConfiguration="UploadLargeFilesBinding" contract="UnstuckMEInterfaces.IUnstuckMEFileStream" name="UnstuckMEStreamingEndPoint" kind="" endpointConfiguration="" />
    </client>
    <bindings>
      <netTcpBinding>
        <binding name="NormalTCPBinding" maxBufferSize="65536" maxReceivedMessageSize="65536"><!-- closeTimeout="0.00:00:05" openTimeout="0.00:00:05" receiveTimeout="1.00:00:00" sendTimeout="0.00:00:05">-->
          <security mode="None" />
        </binding>
        <binding name="UploadLargeFilesBinding" maxBufferSize="65536" maxReceivedMessageSize="26214400" transferMode="Streamed">
          <security mode="None" />
          <readerQuotas maxArrayLength="26214400" maxStringContentLength="26214400" />
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="asyncStreamingBehavior">
          <dispatcherSynchronization asynchronousSendEnabled="true" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\Users\colem_000\Documents\OIT\CST 316-26-36 - Junior Project\UnstuckME\UnstuckMECore\UnstuckME\UnstuckMEUserGUI\UnstuckMEUserGUI\Traces.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>