<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--hi-->
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://75.142.141.235:9000/UnstuckMEService"
               binding="netTcpBinding"
               bindingConfiguration="TcpBindingConfiguration"
               contract="UnstuckMEInterfaces.IUnstuckMEService"
               name="UnstuckMEServiceEndPoint"
               kind="" 
               endpointConfiguration="" />
    </client>
    <bindings>
      <netTcpBinding>
        <binding name = "TcpBindingConfiguration" sendTimeout="00:00:05" portSharingEnabled="true" maxBufferSize="65536" maxReceivedMessageSize="65536" >
          <security mode = "None"/>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
  <connectionStrings>
      <add name="UnstuckMESchools_DBEntities" connectionString="metadata=res://*/UnstuckMESchools_DB.csdl|res://*/UnstuckMESchools_DB.ssdl|res://*/UnstuckMESchools_DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=aura.students.cset.oit.edu;initial catalog=UnstuckME_Schools;user id=UnstuckME_Student_Guest;password=oK@yP@$$W0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>

<!-- WORKING SERVER APP.CONFIG
<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <client>
            <endpoint address="net.tcp://172.249.126.67:9000/UnstuckMEService"
                binding="netTcpBinding"
                bindingConfiguration="TcpBindingConfiguration"
                contract="UnstuckMEInterfaces.IUnstuckMEService"
                name="UnstuckMEServiceEndPoint"
                kind=""
                endpointConfiguration="" />
        </client>
        <bindings>
         <netTcpBinding>
           <binding name = "TcpBindingConfiguration" sendTimeout="00:00:05" portSharingEnabled="true" maxBufferSize="" maxReceivedMessageSize="" >
              <security mode = "None"/>
           </binding>
         </netTcpBinding>
       </bindings>
    </system.serviceModel>
</configuration>
-->